<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="signup.css">
    <script defer src="signup.js"></script>
</head>

<body>

    <div class="container">
        <div class="card">
            <h2 class="title">Signup</h2>
            <form id="loginForm">
                <div class="input-group">
                    <span class="icon">👤</span>
                    <input type="text" id="username" placeholder="Username" required>
                </div>
                <div class="input-group">
                    <span class="icon">🔒</span>
                    <input type="password" id="password" placeholder="Password" required>
                </div>
                <button type="submit" class="login-btn">Login</button>
                <p class="register-link">Already registered? <a href="login.html">Login</a></p>


            </form>
        </div>
    </div>

</body>

</html>